container_commands:
#  00_makemigrations:
#    command: "django-admin.py makemigrations"
#    leader_only: true
   01_migrate:
    command: "django-admin.py migrate --run-syncdb"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: HomeWiseDjango.settings