container_commands:
  01_fakemigrations:
    command: "django-admin.py migrate --fake-initial"
  02_makemigrations:
    command: "django-admin.py makemigrations"
    leader_only: true
  03_migrate:
    command: "django-admin.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ebdjango.settings